<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreeStyle Libre: настройка интеграции</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h4 style="margin-top: 15px; margin-bottom: 15px;">FreeStyle Libre: настройка интеграции</h4>

    {% if error %}
        <p><strong style="color: red">{{ error }}</strong></p>
    {% endif %}

    <form method="POST">

        <div class="form-group">
            <strong>Верхняя граница целевого диапазона:</strong>
            <input type="number" step="0.1" class="form-control" name="yellow_top" value="{{ contract.yellow_top }}"/>
        </div>
        
        <div class="form-group">
            <strong>Нижняя граница целевого диапазона:</strong>
            <input type="number" step="0.1" class="form-control" name="yellow_bottom" value="{{ contract.yellow_bottom }}"/>
        </div>
        
        <div class="form-group">
            <strong>Верхняя граница безопасного диапазона:</strong>
            <input type="number" step="0.1" class="form-control" name="red_top" value="{{ contract.red_top }}"/>
        </div>
        
        <div class="form-group">
            <strong>Нижняя граница безопасного диапазона:</strong>
            <input type="number" step="0.1" class="form-control" name="red_bottom" value="{{ contract.red_bottom }}"/>
        </div>
        

        <div class="form-group">
            <button class="btn-lg btn btn-success">Сохранить</button>
        </div>
    </form>
</div>
</body>
</html>